@import '../../colors.scss';

page {
	.scrollx-box {
		display: flex;
		overflow-x: scroll;
		white-space: nowrap;
		height: 80rpx;
		width: auto;
		box-sizing: border-box;
		margin: 30rpx 40rpx;
	}
	.scrollx-item {
		padding: 8px 16px;
		background-color: $lightwhite;
		color: #333;
		font-size: 16px;
		border-radius: 20px;
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.scrollx-item.active {
		// 选中项的样式
		background-color: $ddarker-border-color;
		color: #fff;
	}
}
